body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.help-block {
    font-size: 12px;
}

.jumbotron {
    background-color: #f6f6f6
}

#shadowpanel {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #ffffff;
}

#PostProjectButton {
    margin-top: 5%;
    background-color: #ff7b3d;
    font-size: 17px;
    border-color: #ff7b3d
}

.div-fl-logo {
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 20px;
}

.fl-logo {
    width: 60%;
    height: 60%;
}

.image-li {
    width: 25%;
}

.li-fl-logo {

    width: 100%;
}

#LoginButtonDiv {
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;

    padding-bottom: 20px;
}

#LoginButton {

    width: 100%;
    height: 45px;
    background-color: #29b2fe;
    border-color: #29b2fe;
}

#smallLabeldiv {
    text-align: center;
}

#smallLabel {
    font-size: 13px;
    text-align: center;
}

#linkHelper {
    margin-left: -10px;
    margin-bottom: 5px;
}

#smallLabel2 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -5px;

}

#centertext {
    text-align: center;
}

#roleblock {
    color: #a94442;
}

.looking-for-step {
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 0 !important;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    height: 53px;
    margin-top: 30px;
}

.button-group {
    display: block;
    position: relative;
    height: 33px;
}

.signup-objective-label {
    width: 50%;
    white-space: nowrap;
    height: inherit;
    color: rgb(77, 82, 91);
    text-shadow: rgba(0, 0, 0, 0) 0px -1px 0px;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0px;
    padding: 8px 18px 8px 18px;
    position: relative;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(240, 240, 240) 100%);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-top-color: rgb(190, 192, 194);
    border-right-color: rgb(190, 192, 194);
    border-bottom-color: rgb(190, 192, 194);
    border-left-color: rgb(190, 192, 194);
}

.signup-objective-label-left {
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    font-weight: 700;
    margin-right: 0px;
}

.signup-objective-radio-left {
    font-weight: inherit;
    margin-left: -7px;
    margin-right: 7px;
    margin-top: 2px;
    vertical-align: top;
    z-index: 1;

}

.signup-objective-label-right {
    border-top-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;
    font-weight: 400;
    margin-left: -1px;
}

.signup-objective-radio-right {
    margin-left: -7px;
    margin-right: 7px;
    margin-top: 2px;
    vertical-align: top;
    z-index: 1;
}

#lookingToHire, #lookingForWork {
    margin-top: -0.2px;
}

.Banner {
    width: 100.5%;
    margin: -1px;
}

.ProjectFeedTitle {
    border-bottom: 1px solid #DEDEDE;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.72);
    margin: 0%;
    opacity: 0.9;
    color: #F7F7F7;

}

.ProjectFeed {
    border-bottom: 1px solid #DEDEDE;
    padding-left: 2%;
    padding-bottom: 1%;
    margin-left: 0%;
    margin-right: 2%;
    margin-bottom: 1%;
    height: 200px;

    font-size: 17px;
}

.FreeLancerIcon {
    width: 100%;
}

#shadowpanelUser {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #ffffff;
    height: 350px;
    padding-top: 4%;
}

.shiftsmallleft {
    margin-left: 15%;
}

.ProjectTitle {
    font-size: 22px;
    color: #0075c2;
}

.ProjectDescription {

    font-size: 17px;
}

.ProjectSkillsReq {

    font-size: 17px;
}

#BidProjectButton {
    margin-top: 5%;
    background-color: #4fb55d;
    font-size: 17px;
    border-color: #4fb55d
}

.ProjectTitleBid {
    box-sizing: content-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 31px;
    line-height: 31.92px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 4px;
    margin-top: 0px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 920px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-after: 5px;
    -webkit-margin-before: 0px;
    -webkit-margin-end: 4px;
    -webkit-margin-start: 1px;
}

.ProjectDetailHeader {
    height: 70px;
    padding: 5px;
}

#ProjectDetailBox {
    border-right: 1px solid #DEDEDE;
    padding: 1%;
}

#ProjectDetailBoxEnd {

    padding: 1%;
    text-align: right;
}

.ProjectHeaderValue {
    color: rgb(0, 139, 203);

    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    text-align: center;
    text-size-adjust: 100%;
    width: 27.2344px;
    -webkit-font-smoothing: antialiased;

}

.ProjectDetails {
    height: 400px;
    padding: 3%;

}

#BidProjectButtonBig {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(19, 159, 240) 0px, rgb(0, 135, 224) 100%);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;

    background-size: auto;
    border-bottom-color: rgb(0, 135, 224);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 135, 224);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(0, 135, 224);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(0, 135, 224);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: content-box;
    color: rgb(247, 247, 247);
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 13px;
    text-align: center;
    text-decoration-color: rgb(247, 247, 247);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: rgba(0, 0, 0, 0) 0px -1px 0px;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: color;
    transition-timing-function: ease-out;
    width: 170.281px;
    -webkit-font-smoothing: antialiased;
}

.ProjectTitleSubheading {
    box-sizing: content-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 31px;
    line-height: 31.92px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 4px;
    margin-top: 0px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 920px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-after: 5px;
    -webkit-margin-before: 0px;
    -webkit-margin-end: 4px;
    -webkit-margin-start: 1px;
}

#textrightshift100 {
    margin-left: 100px;
}

.BidDetails {
    height: 300px;
    padding: 3%;

}

.input-group {
    order-collapse: separate;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 33px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    text-align: left;
    text-size-adjust: 100%;
    width: 179px;
    -webkit-font-smoothing: antialiased;
}

.add-on {
    background-color: rgb(238, 238, 238);
    border-bottom-color: rgb(190, 192, 194);
    border-bottom-left-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(190, 192, 194);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(190, 192, 194);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(190, 192, 194);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(118, 118, 118);
    display: table-cell;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 33px;
    line-height: 8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 9px;
    text-align: center;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 33px;
    -webkit-font-smoothing: antialiased;
}

.BidProposal-form-input{
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: text;
    display: inline-block;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 36px;
    letter-spacing: normal;
    line-height: 10px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    transition-delay: 0s, 0s;
    transition-duration: 0.2s, 0.2s;
    transition-property: border, box-shadow;
    transition-timing-function: linear, linear;
    vertical-align: middle;
    width: 95px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-rtl-ordering: logical;
    -webkit-border-image: none;
}


#BidProjectButtonProjectDetails {
    background-color: #4fb55d;
    font-size: 17px;
    border-color: #4fb55d;
    margin-right: 5px;
}